*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0f1424;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}



.dashboard{
    display:grid;
    grid-template-columns:250px repeat(3,220px);
    grid-template-rows:repeat(2,220px);
    gap:25px;
}



.sidebar{
    background:#1c204b;
    border-radius:20px;
    overflow:hidden;
    grid-row:span 2;
}


.profile{
    background:linear-gradient(180deg,#5a5df0,#3b3edb);
    padding:30px;
    border-radius:20px;
}

.profile img{
    width:70px;
    border-radius:50%;
    border:3px solid white;
    margin-bottom:20px;
}

.profile p{
    color:#bbc0ff;
    font-size:14px;
}

.profile h1{
    color:white;
    font-weight:300;
    line-height:1.2;
}



.menu{
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.menu a{
    color:#7078c9;
    text-decoration:none;
    font-size:16px;
}

.menu a.active,
.menu a:hover{
    color:white;
}



.card{
    border-radius:20px;
    position:relative;
    padding-top:45px;
    overflow:hidden;
}



.work{ background:#ff8b64; }
.play{ background:#56c2e6; }
.study{ background:#ff5c7c; }
.exercise{ background:#4acf81; }
.social{ background:#7536d3; }
.selfcare{ background:#f1c75b; }



.card-content{
    background:#1c204b;
    position:absolute;
    inset:40px 0 0 0;
    padding:25px;
    border-radius:20px;
    transition:0.3s;
}

.card-content:hover{
    background:#34397b;
    cursor:pointer;
}

.card-header{
    display:flex;
    justify-content:space-between;
    color:white;
    margin-bottom:20px;
}

.card h2{
    color:white;
    font-size:40px;
    font-weight:300;
    margin-bottom:8px;
}

.card p{
    color:#bbc0ff;
    font-size:14px;
}



@media(max-width:900px){

.dashboard{
    grid-template-columns:1fr;
}

.sidebar{
    grid-row:auto;
}

}